* {
  font-family: "Rockwell";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #91b6a1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  transition: 0.3s;
}
#navbar li a:hover, #navbar li a.activ {
  color: #088178;
}
#navbar li a.activ::after, #navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#inchidebara {
  display: none;
}

#navbar.active {
  right: 0px;
}

#contactbanner {
  background-image: url("imaginiSite/banner.png");
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position-y: -200px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  background-image: url("imaginiSite/b14.png");
  background-color: #043d39;
  background-position: 20% 30%;
}
#newsletter h4 {
  margin-top: 10px;
}
#newsletter .emailinput {
  padding: 10px;
}
#newsletter input {
  padding: 10px;
  font-size: 15px;
  width: 600px;
  height: 45px;
  border: 1px solid transparent;
  outline: none;
}
#newsletter button {
  cursor: pointer;
  background-color: #088178;
  border: 0px;
  border-radius: 2px;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  margin: 10px;
}

footer {
  padding-top: 20px;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  color: white;
}
footer .retele {
  margin-top: 20px;
}
footer .retele i {
  color: #91b6a1;
  padding-right: 4px;
  cursor: pointer;
}
footer .instalare .imgInstalare img {
  border: 1px solid #043d39;
  border-radius: 6px;
  margin: 10px 0 15px 0;
}
footer .retele i:hover {
  color: #088178;
}
footer .coloana1f img {
  width: 50px;
}

#detaliiContact {
  display: flex;
  align-items: center;
  justify-content: center;
}
#detaliiContact .detaliiC {
  width: 40%;
  padding-top: 40px;
  padding-left: 120px;
}
#detaliiContact .detaliiC span {
  font-size: 20px;
}
#detaliiContact .detaliiC h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#detaliiContact .detaliiC h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#detaliiContact .detaliiC .scrisContact li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#detaliiContact .detaliiC .scrisContact p {
  margin: 0;
  font-size: 14px;
}
#detaliiContact .detaliiC .scrisContact i {
  font-size: 14px;
  padding-right: 14px;
}

#formular form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px;
  border: 1px solid grey;
}
#formular form span {
  padding-top: 40px;
  font-size: 18px;
}
#formular form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#formular form input {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid grey;
}
#formular form textarea {
  width: 700px;
  resize: none;
  outline: none;
}
#formular button {
  cursor: pointer;
  background-color: #088178;
  border: 0px;
  border-radius: 2px;
  padding: 10px 15px;
  text-align: center;
  margin: 10px;
  color: aliceblue;
}

@media (max-width: 820px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 150vh;
    background-color: #91b6a1;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    z-index: 1;
  }
  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
    color: #043d39;
    font-size: 25px;
    padding-left: 20px;
  }
  #mobile i {
    margin: 15px;
  }

  #inchidebara {
    display: flex;
    position: relative;
    top: 15px;
    left: 0px;
  }

  #contactbanner {
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position-y: 0px;
  }

  #detaliiContact {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
  #detaliiContact .detaliiC {
    padding-top: 7px;
    padding-left: 2px;
  }
}
@media (max-width: 420px) {
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter input {
    width: 100%;
  }

  #detaliiContact .detaliiC {
    margin-left: 15px;
  }

  #formular form textarea {
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */