td {
    background-color: slategrey;
    width: 25px;
    height: 25px;
}

.latime2{
    width: 50px;
}

.latime3{
    width: 75px;
}

.latime4{
    width: 100px;
}

.latime5{
    width: 125px;
}

.latime6{
    width: 150px;
}

.latime7{
    width: 175px;
}

.latime8{
    width: 200px;
}

.inaltime2{
    height: 50px;
}

.inaltime3{
    height: 75px;
}



